<footer>


	
		<!-- WIDGET HOMEPAGE BOTTOM -->
		<section class="custom_bottom">
<div class="container">
<div class="row">
    
    
    <!-- CUSTOM INFO -->
    <div class="col1 col-sm-6">
        
        
        
        
        <h2>About store</h2>
        <h4>Catering to your requirements, handling your needs with care. Our  store is more than just another average online retailer.</h4>
        <p>We sell not only top quality products, but give our customers a positive online shopping experience. Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc. Purchase the goods you need every day or just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.</p>
    </div>
    

    
    <!-- BLOG -->
    <div class="col2 col-sm-6">
        <div class="homepage_blog">
            <h2>Blog</h2>
            
            <h4 class="blog_title"><a href="#">The secret of success lies between the right choice of the business...</a></h4>
            <div class="blog_content">We specialize in all kinds of kitchen supplies including the goods for food servicing and restaurant business. Every business is very demanding but the secret of success lies between the right choice of the business strategy and reliable suppliers. Taking...</div>
            
            <h4 class="blog_title"><a href="#">Welcome you here, at our online Kitchen Supplies store!</a></h4>
            <div class="blog_content">Kitchen Supplies store was founded by several enthusiasts in 2002.Those were the times when people still preferred to buy products at brick-and-mortar stores instead of buying online. Nevertheless we’ve decided to create an online shop and we are so glad...</div>
            
        </div>
    </div>
    

</div>
</div>
</section>
	


<div class="container">
	<div class="row">
		<div class="col-sm-3 col-xs-6 footer_block footer_block__1">
			<h2>Information</h2>
			<ul class="footer_links">
				
				<li class="active"><a title="" href="/">Home</a></li>
				
				<li><a title="" href="#">Search</a></li>
				
				<li><a title="" href="#">About us</a></li>
				
				<li><a title="" href="#">Blog</a></li>
				
			</ul>
		</div>

		<div class="col-sm-3 col-xs-6 footer_block footer_block__2">
			<h2>Collections</h2>
			<ul class="footer_links">
				
				<li><a title="" href="#">Bakeware</a></li>
				
				<li><a title="" href="#">Cookware sets</a></li>
				
				<li><a title="" href="#">Cooking Utensils</a></li>
				
				<li><a title="" href="#">Cooks' Tools</a></li>
				
			</ul>
		</div>

		<div class="col-sm-3 col-xs-6 footer_block footer_block__3">
			<h2>Customer service</h2>
			<ul class="footer_links">
				
				<li><a title="" href="#"> Contact us</a></li>
				
				<li><a title="" href="#">Sitemap</a></li>
				
				<li><a title="" href="#">Wishlist</a></li>
				
			</ul>
		</div> 

		<div class="col-sm-3 col-xs-6 footer_block footer_block__4">
			<h2>My account</h2>
			<ul class="footer_links">
				
				<li><a title="" href="#">My account</a></li>
				
				<li><a title="" href="#">My addresses</a></li>
				
				<li><a title="" href="#">My cart</a></li>
				
			</ul>
		</div>    
	</div>

</div>
<div class="copyright">
	<div class="container">
		<p role="contentinfo">
		
		<img alt="Cook" src="//cdn.shopify.com/s/files/1/1398/6279/t/2/assets/footer_logo.png?3676899906795075218">
		
		&copy; 2017 Cook. All rights reserved. Powered by  <%= mail_to "stranger.if.2014@gmail.com", " Oleksandr Adamchuk", target: "_blank", rel: "nofollow" %></p>
	</div>
</div>

</footer>