<div class="header_stuck" style="position: relative;">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 widget_header_wrapper">
					<h3 class="widget_header">Collections</h3>
				</div>
				<div class="flexbox">
					<div class="megamenu_desktop" id="megamenu">
						<h2 id="megamenu_mobile_toggle">Cook<i></i></h2>
						<ul class="level_1 sf-js-enabled sf-arrows">
							<li class="level_1_item level_2_small__wrap">
								<%= link_to root_path, {class: "level_1_link sf-with-ul active"} do %>
									Home
									<i class="level_1_trigger"></i>
								<% end %>
								
								<ul class="level_2_wrap level_2_small megamenu_linklist" style="display: none;">
									<% @category = Category.all.each do |category| %>
										<li>
											<%= link_to category.name, category_products_path(category) %>
										</li>
									<% end %>
									
									
							<!--		<%# @cat.each do |category| %>-->
					  <!--  <li>-->
					  <!--    <%#= link_to category.name, category_products_path(category) %>-->
					  <!--  </li>-->
					 	<!--<%# end %>-->
								
									
								</ul>
							</li>
						
							<li class="level_1_item">
								<a class="level_1_link sf-with-ul" href="https://theme262-cookware.myshopify.com/blogs/blog">Blog <i class="level_1_trigger"></i></a>
								<ul class="level_2_wrap level_2_big" style="display: none;">
									<li>
										<div class="level_2 level_2_blog">
											<div class="column_item column_item__1 item_with_img">
												<div class="blog_img"><img alt="The secret of success lies between the right choice of the business strategy and reliable suppliers." src="/assets/blog1_1024x1024.jpg"></div>
												<div class="blog_info">
													<h4 class="blog_title"><a href="https://theme262-cookware.myshopify.com/blogs/blog/the-secret-of-success-lies-between-the-right-choice-of-the-business-strategy-and-reliable-suppliers">The secret of success lies between th...</a></h4>
													<div class="blog_content">
														We specialize in all kinds of kitchen supplies including the goods for food servicing and restaurant business. Every business is...
													</div>
												</div>
											</div>
											<div class="column_item column_item__2 item_with_img">
												<div class="blog_img"><img alt="Welcome you here, at our online Kitchen Supplies store!" src="/assets/blog2_1024x1024.jpg"></div>
												<div class="blog_info">
													<h4 class="blog_title"><a href="https://theme262-cookware.myshopify.com/blogs/blog/welcome-you-here-at-our-online-kitchen-supplies-store">Welcome you here, at our online Kitch...</a></h4>
													<div class="blog_content">
														Kitchen Supplies store was founded by several enthusiasts in 2002.Those were the times when people still preferred to buy products...
													</div>
												</div>
											</div>
											<div class="column_item column_item__3 item_with_img">
												<div class="blog_img"><img alt="Support system that is available 24/7." src="/assets/blog3_1024x1024.jpg"></div>
												<div class="blog_info">
													<h4 class="blog_title"><a href="https://theme262-cookware.myshopify.com/blogs/blog/support-system-that-is-available-24-7">Support system that is available 24/7.</a></h4>
													<div class="blog_content">
														Taking care of our clients was and still is a main aim of our company and it will stay the...
													</div>
												</div>
											</div>
											<div class="column_item column_item__4 column_item__last item_with_img">
												<div class="blog_img"><img alt="Kitchen Supplies store was founded by several enthusiasts in 2002!" src="/assets/blog4_1024x1024.jpg"></div>
												<div class="blog_info">
													<h4 class="blog_title"><a href="https://theme262-cookware.myshopify.com/blogs/blog/first-post">Kitchen Supplies store was founded by...</a></h4>
													<div class="blog_content">
														Yes, we agree that selling food and kitchen equipment is a tricky thing but our huge experience is the reason...
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="level_1_item">
								<a class="level_1_link sf-with-ul" href="https://theme262-cookware.myshopify.com/collections/bakeware">Sale <i class="level_1_trigger"></i></a>
								<ul class="level_2_wrap level_2_big" style="display: none;">
									<li>
										<div class="level_2 level_2_products">
											<div class="column_item column_item__1">
												<div class="product_img">
													<a href="https://theme262-cookware.myshopify.com/products/batter-dispenser"><img alt="Batter Dispenser" src="/assets/batter_dispenser_1_large.png"></a>
												</div>
												<div class="product_info">
													<div class="product_price">
														<span class="money" data-currency-usd="$65.00">$65.00</span>
													</div>
													<div class="product_name">
														<a href="https://theme262-cookware.myshopify.com/products/batter-dispenser">Batter Dispenser</a>
													</div>
													<div class="product_desc">
														Kitchen Supplies store We specialize in all ki...
													</div>
													<div class="product_links">
														<form action="/cart/add" method="post">
															<button class="btn btn-cart btn-disabled" disabled="disabled" title="Unavailable"><i aria-hidden="true" class="icon material-design-do10"></i>Unavailable</button>
														</form>
													</div>
												</div>
											</div>
											<div class="column_item column_item__2">
												<div class="product_img">
													<a href="https://theme262-cookware.myshopify.com/products/boston-shaker"><img alt="Boston Shaker" src="/assets/boston_shaker_1_large.png"></a>
												</div>
												<div class="product_info">
													<div class="product_price">
														From <span class="money" data-currency-usd="$89.00">$89.00</span> <span class="money compare-at-price" data-currency-usd="$92.00">$92.00</span>
													</div>
													<div class="product_name">
														<a href="https://theme262-cookware.myshopify.com/products/boston-shaker">Boston Shaker</a>
													</div>
													<div class="product_desc">
														We specialize in all kinds of kitchen supplies&nbsp;...
													</div>
													<div class="product_links">
														<form action="/cart/add" method="post">
															<a class="btn btn_big quick_view_btn" href="https://theme262-cookware.myshopify.com/products/boston-shaker" title="Add to cart"><i class="icon material-design-shopping232"></i>Add to cart</a>
														</form>
													</div>
												</div>
											</div>
											<div class="column_item column_item__3">
												<div class="product_img">
													<a href="https://theme262-cookware.myshopify.com/products/carter-cocktail-shaker"><img alt="Carter Cocktail Shaker" src="/assets/carter_cocktail_shaker_1_large.png"></a>
												</div>
												<div class="product_info">
													<div class="product_price">
														<span class="money" data-currency-usd="$23.00">$23.00</span>
													</div>
													<div class="product_name">
														<a href="https://theme262-cookware.myshopify.com/products/carter-cocktail-shaker">Carter Cocktail Shaker</a>
													</div>
													<div class="product_desc">
														Kitchen Supplies store Those were the times whe...
													</div>
													<div class="product_links">
														<form action="/cart/add" method="post">
															<input name="id" type="hidden" value="25848340359"> <button class="btn btn_big btn-cart" title="Add to cart" type="submit"><i class="icon material-design-shopping232"></i>Add to cart</button>
														</form>
													</div>
												</div>
											</div>
											<div class="column_item column_item__4 column_item__last">
												<div class="product_img">
													<a href="https://theme262-cookware.myshopify.com/products/carter-double-walled-ice-bucket"><img alt="Carter Double Walled Ice Bucket" src="/assets/carter_double_walled_ice_bucket_1_large.png"></a>
												</div>
												<div class="product_info">
													<div class="product_price">
														<span class="money" data-currency-usd="$26.00">$26.00</span> <span class="money compare-at-price" data-currency-usd="$32.00">$32.00</span>
													</div>
													<div class="product_name">
														<a href="https://theme262-cookware.myshopify.com/products/carter-double-walled-ice-bucket">Carter Double Walled Ice Bucket</a>
													</div>
													<div class="product_desc">
														Kitchen Supplies store We specialize in all ki...
													</div>
													<div class="product_links">
														<form action="/cart/add" method="post">
															<a class="btn btn_big quick_view_btn" href="https://theme262-cookware.myshopify.com/products/carter-double-walled-ice-bucket" title="Add to cart"><i class="icon material-design-shopping232"></i>Add to cart</a>
														</form>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="level_1_item">
								<a class="level_1_link" href="https://theme262-cookware.myshopify.com/pages/about-us">About us</a>
							</li>
							<li class="level_1_item">
								<a class="level_1_link" href="https://theme262-cookware.myshopify.com/pages/contact-us">Contact us</a>
							</li>
						</ul>
					</div><!-- HEADER CART -->
					<div class="header_cart">
						<h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pseudo_sticky_block" style="position: relative; height: 0px;"></div>
