<div class="main_content  col-sm-9 col-sm-push-3">
	
	<!--Slider start-->
		<div class="swiper-container swiper-container-horizontal swiper-container-fade" id="swiper">
			<div class="swiper-wrapper" style="transition-duration: 0ms;">
				<div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 870px; transform: translate3d(0px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
					<div id="swiper_1"></div>
					<%#= image_tag("/assets/slide3_image.jpg", alt: "")%>
				
					<div class="slider_caption">
						<h2>New Cooking Essentials</h2>
						<p>Your source for professional-quality cookware. Shop for kitchen appliances, cooking essentials from the comfort of your home. See the latest deals on selected products.</p><a class="btn" href="https://theme262-cookware.myshopify.com/collections/cooking-utensils">Shop now!</a>
					</div>
				</div>
				<div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 870px; transform: translate3d(-870px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
					<div id="swiper_2"></div>
		
					<%#= image_tag("/assets/slide1_image.jpg", alt: "")%>
				
					<div class="slider_caption">
						<h2>Stainless Steel Cookware Set</h2>
						<p>Your source for professional-quality cookware. Shop for kitchen appliances, cooking essentials from the comfort of your home. See the latest deals on selected products.</p><a class="btn" href="https://theme262-cookware.myshopify.com/collections/bakeware">Shop now!</a>
					</div>
				</div>
				<div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 870px; transform: translate3d(-1740px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
					<div id="swiper_3"></div>
					<%#= image_tag("/assets/slide2_image.jpg", alt: "")%>
					
					<div class="slider_caption">
						<h2>Must-haves for any cook</h2>
						<p>Your source for professional-quality cookware. Shop for kitchen appliances, cooking essentials from the comfort of your home. See the latest deals on selected products.</p><a class="btn" href="https://theme262-cookware.myshopify.com/collections/cookware-sets">Shop now!</a>
					</div>
				</div>
				<div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 870px; transform: translate3d(-2610px, 0px, 0px); opacity: 0; transition-duration: 0ms;">
					<div id="swiper_4"></div>
					<%#= image_tag("/assets/slide3_image.jpg", alt: "")%>
					
					<div class="slider_caption">
						<h2>New Cooking Essentials</h2>
						<p>Your source for professional-quality cookware. Shop for kitchen appliances, cooking essentials from the comfort of your home. See the latest deals on selected products.</p><a class="btn" href="https://theme262-cookware.myshopify.com/collections/cooking-utensils">Shop now!</a>
					</div>
				</div>
				<div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 870px; transform: translate3d(-3480px, 0px, 0px); opacity: 0; transition-duration: 0ms;">
					<div id="swiper_5"></div>
					<!--<img alt="" src="/assets/slide1_image.jpg">-->
					<div class="slider_caption">
						<h2>Stainless Steel Cookware Set</h2>
						<p>Your source for professional-quality cookware. Shop for kitchen appliances, cooking essentials from the comfort of your home. See the latest deals on selected products.</p><a class="btn" href="https://theme262-cookware.myshopify.com/collections/bakeware">Shop now!</a>
					</div>
				</div>
			</div>
			<div class="swiper_btn" id="swiper_btn_prev"></div>
			<div class="swiper_btn" id="swiper_btn_next"></div>
		</div>
	<!--Slider end-->
	
	<h3 class="text-center">Products for Sale</h3>
<div id="collection_sorted" style="opacity: 1;">
		<div class="product_listing_main">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>

	
	
</div>

<div class="sidebar col-sm-3 sidebar_left col-sm-pull-9">
   <%= render '/shared/navleft' %>
</div>
		
		
		

		

	

