.level_1_item ul {
  transition: all 0.5s ease-in-out !important; 
}

.level_1_item:hover  ul {
  display: block !important; 
  
}
.product_img:hover a:nth-of-child(2) {
  opacity:1 !important;
  border: 1px solid !important;
}